.movieCard {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #ffffffad;
  box-shadow: 0px 10px 8px -8px #ffffffad;
}

.movieDescription {
  margin-left: 10px;
}
.titleMovie {
  font-size: 34px;
}

.genreItem:not(:last-child) {
  margin-right: 20px;
}

.genreItem {
  background-color: rgb(218, 56, 56);
  padding: 4px 14px;
  border-radius: 8px;
}

.addInfo {
  text-align: center;
  margin-bottom: 20px;
}

.addInfoLink {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
.addInfoLink:not(:last-child) {
margin-right: 20px;
}

.activeLink {
  color: rgb(218, 56, 56);
}

.btnGoBack {
  border: none;
  background-color: #fff;
  color: rgb(218, 56, 56);
  font-weight: 700;
  margin-left: 20px;
  border-radius: 5px;
  padding: 4px 16px;
  font-size: 14px;
}
