.movieItem {
  color: rgb(218, 56, 56);
  font-weight: 700;
  width: 200px;
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 8px 1px #ffffffad;
  text-align: center;
  margin: 20px;
  transition: transform 0.3s linear;
}

.movieLink {
  color: #fff;
  font-weight: 400;
  transition: 0.3s linear;
}

.movieLink:hover {
  color: rgb(218, 56, 56);
}

.movieItem:hover {
  transform: scale(1.1);
}
