.movieItem {
  color: rgb(218, 56, 56);
  font-size: 18px;
  font-weight: 700;
  width: 300px;
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 8px 1px #ffffffad;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 40px;
  transition: transform 0.3s linear;
}

.movieLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: 0.3s linear;
}

.movieLink:hover {
  color: rgb(218, 56, 56);
}

.movieItem:hover {
  transform: scale(1.05);
}

.noImg {
  margin: auto;
}
