.listMovies {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 96%;
}

.titleGenre {
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 40px;
}