.listMovies {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titleList {
  font-size: 32px;
  text-align: center;
  padding-left: 10px;
  color: #323232;
  letter-spacing: 1px;
  color: #fff;
}
